.loader-wraper {
  display: flex;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.loader {
  position: relative;
  display: inline-block;
  width: 26px;
}

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  border: 2px solid #000000;
  transform: translate(-50%,  -50%);
  animation: animloader 2s linear infinite;
}

.loader::after {
  animation-delay: 1s;
}

.hiden {
  display: none;
}

@keyframes animloader {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    width: 36px;
    height: 36px;
    opacity: 0;
  }
}